// reset css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // border: 2px solid green;
    // padding: 0 100px;

    header {
        // border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
        margin: 0 auto;
        position: sticky;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #d1c3c3;
        z-index: 1;

        nav {
            // border: 1px solid red;
            width: 950px;
            display: flex;
            justify-content: space-between;
            height: 19px;

            .nav-link {
                margin-right: 30px;
                font-size: 13px;
                font-family: tahoma;
                text-decoration: none;
                color: #000000;
                font-weight: 600;

                &:hover {
                    color: blue;
                }
            }

            .span-div {
                display: flex;
                width: 280px;

                .acct-border {
                    border-right: 2px solid grey;
                    padding-right: 22px;
                }

            }

        }
    }

    main {
        .hero-section {
            // border: 1px solid brown;
            width: 1100px;
            margin: 35px auto 0;
            height: calc(100vh - 90px);
            display: flex;
            justify-content: flex-start;
            align-items: center;


            .left-section {
                // border: 1px solid green;
                width: 50%;
                height: calc(100vh - 90px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;


                .left-section-btn {
                    font-size: 16px;
                    font-family: tahoma;
                    color: #808085;
                    border: none;
                    padding-right: 15px;


                }

                h3 {
                    font-size: 55px;
                    font-family: verdana;
                    color: #000000;
                    font-weight: 600;
                    margin: 50px 0;

                }

                p {
                    font-size: 18px;
                    font-family: tahoma;
                    color: #808080;
                    margin-bottom: 50px;
                    width: 80%;
                }

                .btn-container {


                    .hero-link {
                        padding: 12px;
                        background-color: #b00000;
                        color: #ffffff;
                        text-decoration: none;
                        border-radius: 8px;
                        display: inline-block;
                        margin-right: 20px;
                    }

                    .hero-btn {
                        padding: 12px;
                        background-color: #ffffff;
                        border: 1px solid black;
                        border-radius: 8px;

                    }
                }


            }

            .right-section {
                // border: 1px solid red;
                width: 50%;
                height: calc(100vh - 90px);
                background-image: url(./images/hero.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                .triangle-one {
                    width: 50px;
                    height: 50px;
                    display: block;
                    border-top: 25px solid transparent;
                    border-left: 25px solid transparent;
                    border-bottom: 25px solid #b00000;
                    border-right: 25px solid #b00000;
                    position: absolute;
                    right: - 23PX;
                    top: 40px;
                }

                .triangle-two {
                    width: 50px;
                    height: 50px;
                    display: block;
                    border-top: 25px solid transparent;
                    border-left: 25px solid #b00000;
                    border-bottom: 25px solid #b00000;
                    border-right: 25px solid transparent;
                    position: absolute;
                    top: 60%;
                    left: -23px
                }

                .triangle-three {
                    width: 70px;
                    height: 70px;
                    display: block;
                    border-top: 35px solid transparent;
                    border-left: 35px solid transparent;
                    border-bottom: 35px solid #b00000;
                    border-right: 35px solid #b00000;
                    position: absolute;
                    right: -30px;
                    bottom: 40px;
                }
            }

        }

        .cloud-section {
            // border: 2px solid green;
            width: 1200px;
            height: calc(100vh - 64px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 100px auto;

            .cloud {
                // border: 1px solid red;
                height: 37%;
                width: 1200px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .true-text {
                    // border: 1px solid blueviolet;
                    height: 100%;
                    width: 43%;

                    h4 {
                        font-family: verdana;
                        font-size: 37px;
                        color: #000000;
                        padding-bottom: 30px;
                        font-weight: 600;
                    }

                    p {
                        font-family: Tahoma;
                        font-size: 16px;
                        color: #000000;
                        padding-left: 5px;
                    }
                }

                .true-icon {
                    // border: 1px solid blueviolet;
                    height: 100%;
                    width: 53%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-right: 20px;


                    .icon-div {
                        // border: 1px solid blueviolet;
                        display: flex;
                        justify-content: space-between;
                    }

                }
            }

            .cloud2 {
                // border: 1px solid red;
                height: 43%;
                width: 1200px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .cloud-div {
                    // border: 1px solid #008000;
                    width: 22%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;


                    h5 {
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size: 16px;
                        padding: 20px 0;
                        text-align: center;
                    }

                    p {
                        font-size: 14px;
                        font-family: tahoma;
                        text-align: center;
                    }
                }
            }

        }

        .choose-package {
            // border: 2px solid green;
            width: 850px;
            height: 450px;
            margin: 0 auto 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .text-div {
                // border: 2px solid #800900;
                width: 850px;
                height: 50%;

                h4 {
                    // border: 2px solid #003580;
                    width: 850px;
                    font-size: 50px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 600;
                    text-align: center;
                }

                p {
                    // border: 2px solid #003580;
                    width: 850px;
                    font-size: 30px;
                    font-family: tahoma;
                    text-align: center;
                    padding: 30px 0;
                }
            }

            .button {
                // border: 2px solid #800900;
                width: 850px;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;

                .monthly {
                    // border: 2px solid #003580;
                    font-size: 30px;
                    font-family: tahoma;
                    margin: 0 70px;

                }

                .yellow {
                    background-color: #e8c366;
                    width: 73px;
                    height: 15px;
                    font-size: 10px;
                    padding-top: 2.5px;
                    text-align: center;
                    border-radius: 10px;
                    padding-bottom: 3px;
                }

                .back-ground {
                    width: 90px;
                    height: 40px;
                    display: block;
                    border-radius: 50px;
                    background-color: #b00000;
                    position: relative;
                    right: 340px;
                }

                .top {
                    width: 25px;
                    height: 25px;
                    display: block;
                    border-radius: 50px;
                    background-color: #ffffff;
                    position: relative;
                    right: 420px;
                }
                .switch {
                    position: relative;
                    right: 320px;
                    display: inline-block;
                    width: 60px;
                    height: 34px;

                }
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #b00000;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                input:checked + .slider {
                    background-color: #808085;
                }
                  
                input:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
                  
                  input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                .slider.round {
                    border-radius: 34px;
                }
                  
                .slider.round:before {
                    border-radius: 50%;
                }

            }

            .basic-premium {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;

                .basic-div {
                    // border: 1px solid brown;
                    width: 50%;

                    .basic {
                        // border: 1px solid blue;
                        font-size: 30px;
                        font-family: verdana;
                        text-align: center;
                        border-bottom: 5px solid #b00000;

                    }

                    .premium {
                        // border: 1px solid blue;
                        font-size: 30px;
                        font-family: verdana;
                        text-align: center;
                        border-bottom: 5px solid #808080;

                    }
                }

            }


        }

        .starter-section {
            // border: 1px solid green;
            width: 1100px;
            margin: 10px auto 50px;
            height: 700px;
            display: flex;
            justify-content: space-between;


            .starter {
                border: 1px solid #6d6d6d;
                height: 700px;
                width: 28%;
                border-radius: 20px;
                padding: 30px;
                box-shadow: 0 0 5px;

                &.hover {
                    background-color: #b00000;
                }

                .alpha-text {
                    font-size: 25px;
                    font-family: tahoma;
                    font-weight: bold;

                }

                .alpha-p {
                    font-size: 15px;
                    font-family: tahoma;
                    padding: 10px 0 25px;
                }

                .beta-text {
                    font-size: 35px;
                    font-family: verdana;
                    font-weight: bold;
                }

                .beta-p {
                    font-size: 14px;
                    font-family: tahoma;
                    padding: 5px 0 30px;
                }

                .gamma-text {
                    border: 2px solid black;
                    font-size: 15px;
                    font-family: verdana;
                    font-weight: bold;
                    text-align: center;
                    width: 100%;
                    height: 35px;
                    padding: 6px;
                    border-radius: 10px;
                    margin: 0 0 25px;

                }

                ul {
                    padding-left: 16px;
                    list-style-image: url(./images/Checkmark.svg);
                    background-size: 10px;

                    li {
                        font-size: 16px;
                        font-family: tahoma;
                        color: #6d6d6d;
                        padding: 10px 10px;
                    }
                }
            }
        }

        .real-stories-section {
            // border: 2px solid #047919;
            width: 900px;
            height: 750px;
            margin: 50px auto;
            display: flex;
            justify-content: space-between;

            .real-left {
                // border: 2px solid #790404;
                width: 57%;
                height: 750px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: end;
                background-image: url(./images/Quote\ Mark.jpg);
                background-repeat: no-repeat;
                background-size: 155px;

                .real-up {
                    // border: 2px solid #04791d;
                    width: 80%;
                    height: 25%;
                    margin-top: 70px;

                    h3 {
                        font-size: 45px;
                        font-family: cambria;
                        font-weight: 600;
                        padding: 12px 5px;

                    }

                    p {
                        font-size: 16px;
                        font-family: cambria;
                        padding-left: 7px;
                    }

                }

                .real-down {
                    // border: 2px solid #000000;
                    width: 60%;
                    height: 60%;
                    font-size: 16px;
                    font-family: cambria;
                    padding: 20px 15px 0 50px;
                    box-shadow: 0 0 15px 0 #e0dbdb;
                    background-image: url(./images/Quote\ Mark\ \(1\).jpg);
                    background-repeat: no-repeat;
                    background-position: 6% 28%;
                    
                    .first-p {
                        position: relative;
                        bottom: 20px;
                        line-height: 25px;
                    }

                    h6 {
                        font-size: 16px;
                        font-family: tahoma;
                        margin: 10px 0 5px 0;
                    }

                    .second-p {
                        font-size: 12px;
                        font-family: tahoma;
                        color: #8b8b8e;
                    }

                }

            }

            .real-right {
                // border: 2px solid #000cf1;
                width: 40%;
                height: 750px;

                .stories-up {
                    // border: 2px solid #f1001c;
                    width: 100%;
                    height: 50%;
                    margin: 100px 0 30px 0;
                    padding: 0 30px 0 50px;
                    box-shadow: 0 0 15px 0 #e0dbdb;
                    background-image: url(./images/Quote\ Mark\ \(1\).jpg);
                    background-repeat: no-repeat;
                    background-position: 6% 29%;

                    .p-first {
                        position: relative;
                        bottom: 20px;
                        font-size: 16px;
                        font-family: cambria;
                        line-height: 29px;
                    }

                    h6 {
                        font-size: 16px;
                        font-family: tahoma;
                        margin: 5px 0 5px 0;
                    }

                    .second-p {
                        font-size: 13px;
                        font-family: tahoma;
                        color: #8b8b8e;
                    }

                }

                .stories-down {
                    // border: 2px solid #f1ed00;
                    width: 80%;
                    height: 32%;
                    padding: 20px 30px 0 50px;
                    box-shadow: 0 0 15px 0 #e0dbdb;
                    background-image: url(./images/Quote\ Mark\ \(1\).jpg);
                    background-repeat: no-repeat;
                    background-position: 8% 33%;
                    

                    .p-text {
                        font-size: 16px;
                        font-family: cambria;
                        margin-bottom: 16px;
                        line-height: 25px;
                        position: relative;
                        bottom: 10px;

                    }
                    .h-text {
                        font-size: 16px;
                        font-family: tahoma;
                        

                    }

                    .p-second {
                        font-size: 13px;
                        font-family: tahoma;
                        color: #8b8b8e;
                        padding-top: 5px;

                    }
                    

                }
            }
        }

        .we-serve-section {
            // border: 2px solid red;
            width: 1050px;
            height: 180px;
            margin: 0px auto 100px;
            display: flex;
            justify-content: space-between;

            .searve-left {
                // border: 2px solid green;
                width: 40%;
                height: 180px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h4 {
                    font-family: verdana;
                    font-size: 39px;
                    
                }
                p {
                    font-family: tahoma;
                    font-size: 15px;
                    line-height: 30PX;
                }


            }

            .serve-right {
                // border: 2px solid rgb(75, 0, 128);
                width: 40%;
                height: 180px;
                display: flex;
                flex-wrap: wrap;

                .support {
                    height: 90px;
                    padding: 0 23px;
                }
            }
        }
        .get-in-touch {
            // border: 2px solid green;
            width: 950px;
            height: 320px;
            margin: 50px auto 80PX;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(247, 249, 249);
            position: relative;

            .whatsapp {
                background-color: #b00000;
                width: 190px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                border-radius: 8px;
                padding-left: 5px;
                padding-top: 5px;
            }

            h3 {
                font-size: 35px;
                font-family: verdana;
                font-weight: 600;
                width: 60%;
                text-align: center;
                margin: 30px auto 35px;
            }
            a {
                font-size: 12px;
                font-family: tahoma;
                color: #0b0909;
                text-align: center;
                margin: 5px auto 20px;
                text-decoration: none;
                color: #ffffff;
                
                &:hover {
                    color: greenyellow;
                    
                }
        
            }
            .angle-one {
                width: 30px;
                height: 30px;
                display: block;
                border-top: 15px solid transparent;
                border-left: 15px solid transparent;
                border-bottom: 15px solid #b00000;
                border-right: 15px solid #b00000;
                position: absolute;
                top: 0;
                right: 55%; 
            }

            .angle-two {
                width: 40px;
                height: 40px;
                display: block;
                border-top: 20px solid transparent;
                border-left: 20px solid #b00000;
                border-bottom: 20px solid #b00000;
                border-right: 20px solid transparent;
                position: absolute;
                top: 60%;
                left: -18px
            }

            .angle-three {
                width: 50px;
                height: 50px;
                display: block;
                border-top: 25px solid transparent;
                border-left: 25px solid transparent;
                border-bottom: 25px solid #b00000;
                border-right: 25px solid #b00000;
                position: absolute;
                right: -20px;
                bottom: 40px;
        }
    
        }
    }
    footer {
        width: 1300px;
        height: 400px;
        color: #e0dbdb;
        background-color: #b00000;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .first-footer {
            // border: 2px solid white;
            color: #ffffff;
            width: 300px;
            height: 250px;


            .ppp-text {
                font-family: tahoma;
                font-size: 10px;
                line-height: 20px;
                padding: 5px 50px 30px 0;
                
            }
            .pp-text {
                font-family: tahoma;
                font-size: 11px;
                padding-top: 60px;
            } 

            
        }
        .other-footers {
            // border: 1px solid #e0dbdb;
            width: 180px;
            height: 250px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 100px;

            .a-header {
                text-decoration: none;
                font-size: 10px;
                font-family: tahoma;
                color: #ffffff;
                font-weight: 600;

                &:hover {
                    color: greenyellow;
                    
                }
            }

            .a-body {
                text-decoration: none;
                font-size: 10px;
                font-family: tahoma;
                color: #d1c3c3;
                

                &:hover {
                    color: greenyellow;
                    
                }
            }
            
    
        }
        .fourth {
            padding-bottom: 130px;
        }
        .last {
            padding-bottom: 155px;
        }
    }

}
